.container-3 {
    background-color: lightgreen;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding-left: 10px;
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 150px;
}

.container-3-text {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 400px;
    width: 400px;
    padding-top: 100px;
}

.container-3-image {
    display: flex;
    width: 400px;
    height: 400px;
}