.container-5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex: 1;
    padding-left: 80px;
}

.container-5-image {
    width: 400px;
    height: 400px;
}

.container-5-text-samples {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    width: 520px;
    height: 400px;
}