.container-1 {
    background-color: darkblue;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.top-left-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    gap: 15px;
}

.top-right-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    gap: 15px;
}

.top-right-container-1, .top-right-container-2 {
    display: flex;
    flex-direction: row;
    gap: 5px;
}