
.container-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    width: 100%;
}

.bottom-action-box {
    background-color: blue;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
    padding-right: 80px;
    padding-left: 80px;
}
@media (max-width: 768px) {
  .bottom-action-box {
    flex-direction: column;
    gap: 20px;
  }
}

.container-4 button:hover {
    background-color: darkblue;
    transform: scale(1.05);
}