
.container-3 {
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 100px;
    padding-bottom: 100px;
}