
.container-2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 30px;
    padding-bottom: 100px;
}

.main-parent-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
}

.mini-body-container-parent-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    flex: 1;
    max-width: 200px;
    padding: 25px;
}

.mini-body-container-1 {
    height: 150px;
    width: 100%;
    border: 3px solid blue;
}
